<div class="container">
    <div class="row">
        <div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="https://st3.depositphotos.com/3894705/17562/i/600/depositphotos_175629912-stock-photo-red-x-symbol.jpg" class="card-img-top"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="cardsT" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="quizC" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                    alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="videoT" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>